body {
    max-width: 95%;
    margin: 0.5in auto;
    font-family: Arial, sans-serif;
    line-height: 1.3;
}

h1 {
    margin-bottom: 0.3em;
}

h2 {
    border-bottom: 1px solid #666;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.skills-section {
    column-count: 2;
    column-gap: 2em;
    margin: 1em 0;
}

ul {
    margin: 0.5em 0;
    padding-left: 1.5em;
}

li {
    margin: 0.2em 0;
}

p {
    margin: 0.5em 0;
}